.personal{
    color:rgb(63, 90, 86);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(170, 215, 226);
    font-size: 120%;
    text-align:center;
    margin-top:2%
}


.name{
    color:rgb(63, 90, 86);
    font-weight: bold;
    
}

